<!DOCTYPE html>
<html>

<head>
    <title>Analyze Sample</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
</head>

<body>
    <header class="site-header">
        <!-- <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top"> -->
        <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">

            <!-- <nav class="navbar navbar-light fixed-top" style="background-color: #e3f2fd;"> -->
            <!-- Navbar content -->

            <div class="container">
                <a class="navbar-brand mr-4" href="/" style="color:aliceblue"><img
                        src="{{ url_for('static', filename='img/logo1.png') }}" width="130px" height="25px" alt=""></a>
                <button style="background-color: #e3f2fd;" class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false"
                    aria-label="Toggle navigation" style="background-color: #00000;">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="{{ url_for('vision') }}"><input type="submit"
                                class="btn btn-outline-info" value="Vision"></a>
                    </div>

                    <!-- Navbar Right Side -->
                </div>


            </div>
            </div>
        </nav>
    </header>

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- FLASH -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}"> {{ message }} </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                {% block content %}{% endblock %}
            </div>

            <!-- <div class="col-md-4">
                      <div class="content-section">
                        <h4>Dicoding</h4>
                        <p class='text-muted'>Submision 1 beasiswa azure cloud developer 
                          <ul class="list-group">
                            <li class="list-group-item list-group-item-light">Azure cloud</li>
                            <li class="list-group-item list-group-item-light">Azure SQL</li>
                          </ul>
                        </p>
                      </div>
                    </div> -->
            <div class="col-md-12">
                <div class="content-section">
                    <legend class="border-bottom mb-4">Analyze Image</legend>
                    Enter the URL to an image, then click the <strong>Analyze image</strong> button.
                    <br><br>


                    <form action="" method="POST" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}

                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Optical Character Recognition Engine</legend>
                            {{ form.image.label(class='form-control-label') }}
                            <input type=file name=file class="form-control form-control-sd" name="title">
                        </fieldset>

                        <fieldset class="form-group">
                            {{ form.upload(class='btn btn-outline-info') }}
                        </fieldset>
                    </form>

                    <br><br>

                </div>

            </div>
            <div class="col-md-8">
                <div class="content-section">
                    <div id="wrapper" style="width:1020px; display:table;">
                        <div id="jsonOutput" style="width:600px; display:table-cell;">
                            <legend class="border-bottom mb-4">Response</legend>

                            <textarea id="responseTextArea" class="UIInput" class="form-control"
                                style="width:690px; height:400px;"></textarea>
                        </div>

                    </div>

                </div>

            </div>
            <div class="col-md-4">
                <div class="content-section">
                    <div id="imageDiv" style="width:400px; height:100%; display:table-cell;">
                        <legend class="border-bottom mb-4">Output Image</legend>

                        <img id="sourceImage" width="310px" height="300" />
                    </div>
                    <fieldset class="form-group">
                        <br>
                        <p>caption : </p>

                    </fieldset>
                </div>


            </div>

    </main>




</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</html>